<div class="container-fluid">
    <h3>Profile</h3>
    <div class="row mt-4">
        <div class="col-md-3">
                <div class="card p-3">
                    <h6>Profile details</h6>
                        <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="90px" height="95px" style="border-radius:20px;align-self: center;" alt="Avatar" class="avatar">
                     <div class="card-body text-center border-bottom">
                            <h5 class="card-title">John John</h5>
                            <p class="card-text">Lead developer</p>
                     </div>
                     <div class="card-body border-bottom">
                         <h5>Skills</h5>
                         <span class="badge badge-primary">HTML</span>
                         <span class="badge badge-primary mx-1">CSS</span>
                         <span class="badge badge-primary">JAVASCRIPT</span>
                         <span class="badge badge-primary mx-1">JAVA</span>
                         <span class="badge badge-primary ">ANGULAR</span>
                         <span class="badge badge-primary mx-1">PHOTOSHOP</span>
                         <span class="badge badge-primary">JSP</span>
                     </div>
                       <div class="card-body">
                           <h5>About</h5>
                           <div>Lives in Ongole</div>
                           <div>Works at Github</div>
                       </div>
                </div>
        </div>
        <div class="col-md-9">
                <div class="card p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="d-inline">Daily feed</h6>
                             <span class="badge text-white" style="max-height: 20px;background-color: #5b7dff;">Today</span>
                            </div>
                        <div class="media p-3 border-bottom">
                            <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="40px" height="45px" style="border-radius:20px;" alt="Avatar" class="avatar">
                      <div class="media-body ml-4">
                       <p>Ashley Briggs started following Stacie<br> 
                      <small>Today 7:51 pm</small></p>
                     </div>
                      </div>
                       <div class="media p-3 border-bottom">
                           <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="40px" height="45px" style="border-radius:20px;" alt="Avatar" class="avatar">
                      <div class="media-body ml-4">
                       <p >Ashley Briggs started following Stacie <br>
                      <small>Today 7:21 pm</small></p>
                          <p class="border p-1"style="width: 200px;font-size:12px">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing,sem quam semper libero, sit amet adipiscing...</p>
                          </div>
                    </div>
                       <div class="media p-2 border-bottom">
                           <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="40px" height="45px" style="border-radius:20px;" alt="Avatar" class="avatar">
                      <div class="media-body ml-4">
                       <p>Ashley Briggs started following Stacie.started following Stacie <br>
                      <small>Today 6:51 pm</small></p>
                     </div>
                   </div>
                   <div class="media p-3 border-bottom">
                        <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="40px" height="45px" style="border-radius:20px;" alt="Avatar" class="avatar">
                  <div class="media-body ml-4">
                   <p>Ashley Briggs started following Stacie<br> 
                  <small>Today 7:51 pm</small></p>
                 </div>
                  </div>
                  <div class="media p-3 border-bottom">
                        <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="40px" height="45px" style="border-radius:20px;" alt="Avatar" class="avatar">
                  <div class="media-body ml-4">
                   <p>Ashley Briggs started following Stacie<br> 
                  <small>Today 7:51 pm</small></p>
                 </div>
                  </div>
                 <button class="btn btn-block text-white my-4" style="background-color: #47BAC1;">Load more</button>
         </div>
         </div>
    </div>
</div>

<app-footer></app-footer>