.nav-item{
    color: #ced4da;
}
ul li{
    padding: 10px 0px 15px 20px;
}
.nav{
    height: 100%;
    background-color: #354052;
    
}
ul li a{
    color: #ced4da;
    text-decoration: none;
}
.nav-footer{
    background-color: #354052;
}
.fa{
    display: inline-block;
    margin-left: 6.24em;
}
ul li ul li{
    list-style-type: none;
}