<div class="nav">
  <div class="nav-header">
    <div class="nav-main p-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle text-info"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
    <span class="text-white pl-2 ">AppStack</span>
    </div>
    <nav>
        <ul class="nav flex-column " id="accordionExample">
          <li class="nav-item">Main</li>
          <li class="nav-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
              <a  data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              <span>Dashboard</span>
            <i style="font-size:18px;margin-left: 60px;" class="fa">&#xf107;</i>
              </a>
              <ul id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                  <li>Default</li>
                  <li>Analysis</li>
                  <li>Social</li>
              </ul>
          </li>
          <li class="nav-item ">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
            <a  data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              <span>Pages</span>
              <i style="font-size:18px;margin-left: 95px;" class="fa">&#xf107;</i>
            </a>
            <ul id="collapseTen" class="collapse " aria-labelledby="headingTen" data-parent="#accordionExample">
                <li><a [routerLink]="['profile']">Profile</a></li>
                <li><a [routerLink]="['settings']">Settings</a></li>
                <li>Clients</li>
                <li>Tasks</li>
            </ul>
          </li>
          <li class="nav-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
          <a  data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <span>Auth</span>
            <i style="margin-left: 80px;background-color: #a180da;" class=" badge badge-primary">12/24</i>
            </a>
            <ul id="collapseNine" class="collapse " aria-labelledby="headingNine" data-parent="#accordionExample">
              <li><a [routerLink]="['signin']">SignIn</a></li>
              <li>SignUp</li>
              <li>404 Page</li>
            </ul>
          </li>
            <li class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
              <a data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <span>Layouts</span>
             <i style="font-size:18px;margin-left: 83px;" class="fa">&#xf107;</i>
            </a>
            <ul id="collapseEight" class="collapse " aria-labelledby="headingEight" data-parent="#accordionExample">
              <li> <a [routerLink]="['layout']">Sticky sidebar</a></li>
              <li>Boxed Layout</li>
              <li>Classic Theme</li>
            </ul>
            </li>
            <li class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                <a   data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <span>Documentation</span>
              <i style="font-size:18px;margin-left: 30px;" class="fa">&#xf107;</i>
              </a>
              <ul id="collapseSeven" class="collapse " aria-labelledby="headingSeven" data-parent="#accordionExample">
                <li>Introduction</li>
                <li>Plugins</li>
              </ul>
            </li>
            <li class="nav-item">Components</li>
              <li class="nav-item" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                  <a  data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <span>UI Elements</span>
                <i style="font-size:18px;margin-left: 53px;" class="fa">&#xf107;</i>
                </a>
                <ul id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordionExample">
                  <li>Alerts</li>
                  <li>Grids</li>
                  <li>Cards</li>
                  <li>Tabs</li>
                </ul>
              </li>
              <li class="nav-item " >
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
                  <a  data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <span>Charts</span>
                <i style="margin-left:80px;background-color: #47BAC1;" class="badge badge-info">New</i>
                </a>
                <ul  id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample">
                  <li>Chart.js</li>
                </ul>
              </li>
              <li class="nav-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                  <a data-toggle="collapse" data-target="#collapseFour"  aria-expanded="false" aria-controls="collapseFour">
                  <span>Forms</span>
                <i style="font-size:18px;margin-left:95px" class="fa">&#xf107;</i>
                </a>
                <ul id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                  <li>Basic Input</li>
                  <li>Validation</li>
                  <li>Basic Elements</li>
                </ul>
              </li>
                <li class="nav-item" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                    <a  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span>Tables</span>
                  <i style="font-size:18px;margin-left:95px" class="fa">&#xf107;</i>
                  </a>
                  <ul id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
                    <li><a [routerLink]="['./table']">Bootstrap</a></li>
                    <li>Advanced</li>
                  </ul>
                </li>
                <li class="nav-item" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                    <a  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span>Icons</span>
                  <i style="margin-left:73px" class="badge badge-primary">Special</i>
                  </a>
                  <ul  id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <li>Feather</li>
                    <li>Fonts Awesome</li>
                  </ul>
                </li>
                <li class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                 <span>Calendar</span>
                 <i style="margin-left:60px;background-color: #47BAC1;" class="badge badge-primary">New</i>
                </li>
                <li class="nav-item" id="accordionExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle mr-3"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <a  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                       <span>Maps</span><i style="font-size:18px;margin-left:95px" class="fa">&#xf107;</i>
                    </a>
                      <ul id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                        <li>Google Maps</li>
                        <li>Vector Maps</li>
                      </ul>
                </li>
                
        </ul>
    </nav>
  </div>
</div>
<div class="card p-2 col-md-2 nav-footer position-fixed fixed-bottom">
<div class="media text-white">
    <div class="media-left">
        <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="40px" height="45px" style="border-radius:20px;" alt="Avatar" class="avatar">
    </div>
    <div class="media-body pl-3">
      <h6 class="media-heading">Chris wood</h6> <small><i>Online</i></small>
   </div>
</div>
</div>



